/* Fonte e reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
:root{
    --p1:#f7b02c;
    --p2:#5a7df0;
}

body {
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header e Navbar */
header {
    width: 100%;
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    position:   sticky;
    top: 0;
    z-index: 10;
}

header h1 {
    font-size: 20px;
    color: var(--p1);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    transition: color 0.3s, transform 0.3s;
    font-weight: 600;
}

nav ul li{
    cursor: pointer;
}


nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: var(--p1);
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:hover {
    transform: scale(1.1);
}

/* Seções e Projetos */
main {
    flex: 1;
    padding: 2rem 1rem;
}

.content-section {
    max-width: 80%;
    margin: auto;
    margin-bottom: 3rem;
    display: grid;
}

h2 {
    font-size: 2rem;
    color: var(--p1);
    margin-bottom: 1rem;
}

/* Cartões de Projeto */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.project-card {
    width: 100%;
    background-color: #1e1e1e;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease forwards;
}

.project-card h3 {
    color: var(--p2);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.project-card p {
    color: #b3b3b3;
}

.project-card:hover {

    transform: translateY(-10px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

/* Footer */
footer {
    background-color: #1e1e1e;
    color: #ffffff;
    text-align: center;
    padding: 1.5rem 1rem;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.5);
}

/* Animações */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsividade */
@media (max-width: 768px) {
    header, footer {
        width: 100%;
        text-align: center;
    }
    nav li{
        font-size: 0px;
    }
    header h1{
        font-size: 24px;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }
}
.imgsp{
    width: 95%;
    box-shadow: 0px 0px 20px #000;
    border-radius: 10px;
    content: url(source/sparkbg.jpg);
    transition: 0.3s;
    
    
}
.imgsp:hover{
    width: 100%;
    box-shadow: 0px 0px 20px #000;
    border-radius: 10px;
    content: url(source/sparkbg.gif);
    transition: 0.3s;
    
}
.spbg{
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 1rem;
    display: grid;
    align-items: center;
}
.spbg h1{
    color: var(--p2);
}
.homebg img{
    width: 100%;
    transform: translateY(-10%);
    filter: drop-shadow(0px 0px 10px var(--p1));
}
.aequipecont{
    width: 100%;
    display: flex;
}
.aequipeconttxt{
    justify-content: center;
    margin: 20px 20px;
}
.aequipeconttxt h1{
    color: var(--p2);
}
.logonav{
    width: 50px;
}
.btnslapprtnaguentomais{
    cursor: none;
    width: 20px;
    border: none;
    background-color: #121212;
    color: #e0e0e0;
    border-radius: 5px;
    font-size: 20px;
    transition: 0.3s;
}
.btnslapprtnaguentomais:hover{
    cursor: pointer;
    background-color: var(--p2);
    transition: 0.3s;
}
.btnslapprtnaguentomais:focus{
    background-color: var(--p1);
    transition: 0.3s;
}
.slider{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.slider img{
    filter: brightness(0%);
    width: 10%;
    height: 350px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.5s;
}
.slider img:hover{
    filter: brightness(100%);
    width: 60%;
    height: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.5s;
}
.signup{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.signupc1{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.button1{
    margin: 2px 2px;
    width: 20%;
    background-color: #00000000;
    border-style: solid;
    border-color: var(--p1);
    color: var(--p1);
    border-radius: 20px;
    border-width: 3px;
    height: 50px;
    font-size: 18px;
    transition: 0.2s;
}
.button2{
    font-size: 18px;
    margin: 2px 2px;
    width: 20%;
    background-color: #00000000;
    border-style: solid;
    border-color: var(--p2);
    color: var(--p2);
    border-radius: 20px;
    border-width: 3px;
    height: 50px;
    transition: 0.2s;
}

.inputtxt{
    width: 500px;
    height: 40px;
    background-color: #00000000;
    border-style: solid;
    border-color: var(--p2);
    border-width: 2px;
    border-radius: 4px;
    font-size: 20px;
    padding: 5px 5px;
    color: #b3b3b3;
    text-align: center;
}
.signupc1{
    text-align: left;
}

.titlepage{
    text-align: center;
}
.signupbtns{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.signupbtns button:hover{
    background-color: #FFFFFF20;
    transition: 0.2s;
    cursor: pointer;
}
.avisoc{
    text-align: center;
    justify-content: center;
}
.avisoc p1{
    color: #FF3322DD;
    text-align: center;
    justify-content: center;
}
.loginbtn::after{
    background: var(--p2);
}
.menuv a{
    text-decoration: none;
    text-decoration-line: none;
    color: #e0e0e0;
}
.menuv{
    pointer-events: none;
    position: fixed;
    width: 99%;
    height: 180px;
    display: none;
    justify-content: end;
    align-items: end;
}
.menuvt{
    pointer-events: all;
    background-color: #00000044;
    padding: 20px 2px;
    border-width: 2px;
    border-radius: 4px;
    border-color: var(--p1);
    border-style: solid;
    width: 8%;
    text-align: center;
}
.sairbtn{
    font-size: 16px;
    font-weight: bold;
    color: crimson;
    border-style: solid;
    background-color: #00000000;
    padding: 1px 8px;
    border-radius: 4px;
    border-color: crimson;
    cursor: pointer;
    transition: 0.2s;
}
.sairbtn:hover{
    color: var(--p1);
    border-color: var(--p1);
    cursor: pointer;
    transition: 0.2s;
}
.perfilbtn{
    color: var(--p1);
}
.statusbtn{
    font-size: 16px;
    font-weight: bold;
    color: var(--p2);
    border-style: solid;
    background-color: #00000000;
    padding: 1px 8px;
    border-radius: 4px;
    border-color: var(--p2);
    cursor: pointer;
    transition: 0.2s;
}
.statusbtn:hover{
    color: var(--p1);
    border-color: var(--p1);
    cursor: pointer;
    transition: 0.2s;
}